<a href="https://colab.research.google.com/github/mtn75/Python-Toturial/blob/main/python_workshop_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Creating data
There are two core objects in pandas: the DataFrame and the Series.

DataFrame
A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
# Initial dataframe
df = pd.DataFrame({'group1' : ["a","b","a","a","b","c","c","c","c",
                            "c","a","a","a","b","b","b","b"],
                'group2' : [1,2,3,4,1,3,5,6,5,4,1,2,3,4,3,2,1],
                'value'  : ["apple","pear","orange","apple",
                            "banana","durian","lemon","lime",
                            "raspberry","durian","peach","nectarine",
                            "banana","lemon","guava","blackberry","grape"]})
df

   group1  group2       value
0       a       1       apple
1       b       2        pear
2       a       3      orange
3       a       4       apple
4       b       1      banana
5       c       3      durian
6       c       5       lemon
7       c       6        lime
8       c       5   raspberry
9       c       4      durian
10      a       1       peach
11      a       2   nectarine
12      a       3      banana
13      b       4       lemon
14      b       3       guava
15      b       2  blackberry
16      b       1       grape

## Reading the data

In [6]:
df.head()

# df.head(10)

  group1  group2      value
0      a       1      apple
1      b       2       pear
2      a       3     orange
3      a       4      apple
4      b       1     banana
5      c       3     durian
6      c       5      lemon
7      c       6       lime
8      c       5  raspberry
9      c       4     durian

https://drive.google.com/file/d/1Tn2tcs-AjZizybeowhqH1-EgVscnLB_7/view?usp=share_link

In [7]:
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [8]:
students = pd.read_csv("/content/gdrive/MyDrive/student.csv")

In [10]:
students.shape

(35, 5)

In [13]:
students.head()

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

## Indexing

Getting a column:

In [15]:
students.mark

0     75
1     85
2     55
3     60
4     60
5     55
6     78
7     85
8     78
9     55
10    89
11    94
12    88
13    88
14    88
15    88
16    54
17    75
18    18
19    65
20    69
21    55
22    79
23    78
24    88
25    79
26    81
27    86
28    55
29    79
30    88
31    90
32    96
33    69
34    88
Name: mark, dtype: int64

In [22]:
students[['mark','gender']].head()

   mark  gender
0    75  female
1    85    male
2    55    male
3    60  female
4    60  female

Getting a row:

In [24]:
students['mark'][0]

75

### Index-based selecting:

iloc

In [26]:
students.iloc[0]

id               1
name      John Deo
class         Four
mark            75
gender      female
Name: 0, dtype: object

In [28]:
students.iloc[:, 1]

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26       Big Nose
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [31]:
students.iloc[[0, 1, 3],:]

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
3   4  Krish Star   Four    60  female

In [32]:
students.iloc[-5:]

    id         name  class  mark  gender
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

### Label-based selecting:

loc

In [34]:
students.loc[0, 'name']

'John Deo'

In [41]:
students.loc[:6, ['gender', 'mark', 'name']]

   gender  mark         name
0  female    75     John Deo
1    male    85     Max Ruin
2    male    55       Arnold
3  female    60   Krish Star
4  female    60    John Mike
5    male    55    Alex John
6    male    78  My John Rob

In [42]:
students.loc[:6,  'name':'gender' ]

          name  class  mark  gender
0     John Deo   Four    75  female
1     Max Ruin  Three    85    male
2       Arnold  Three    55    male
3   Krish Star   Four    60  female
4    John Mike   Four    60  female
5    Alex John   Four    55    male
6  My John Rob  Fifth    78    male

In [43]:
students

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

### Conditional selecting:

Get HD students:

In [51]:
students.mark>85

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24     True
25    False
26    False
27     True
28    False
29    False
30     True
31     True
32     True
33    False
34     True
Name: mark, dtype: bool

In [53]:
students[students.mark>85]
#or
# students.loc[students.mark>85]

    id         name  class  mark  gender
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
24  25     Giff Tow  Seven    88    male
27  28    Rojj Base  Seven    86  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
34  35   Rows Noump    Six    88  female

Get HD female students:

In [58]:
students.loc[(students.mark>85) & (students.gender == 'female')]

    id        name  class  mark  gender
10  11      Ronald    Six    89  female
11  12       Recky    Six    94  female
12  13         Kty  Seven    88  female
13  14        Bigy  Seven    88  female
27  28   Rojj Base  Seven    86  female
31  32   Binn Rott  Seven    90  female
32  33   Kenn Rein    Six    96  female
34  35  Rows Noump    Six    88  female

Get HD and failed students:

In [59]:
students.loc[(students.mark>85) | (students.mark<50)]

    id         name  class  mark  gender
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
18  19        Tinny   Nine    18    male
24  25     Giff Tow  Seven    88    male
27  28    Rojj Base  Seven    86  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
34  35   Rows Noump    Six    88  female

Get students in classes six and four:

In [60]:
students.loc[students['class'].isin(['Six','Four'])]

    id         name class  mark  gender
0    1     John Deo  Four    75  female
3    4   Krish Star  Four    60  female
4    5    John Mike  Four    60  female
5    6    Alex John  Four    55    male
8    9      Tes Qry   Six    78    male
9   10     Big John  Four    55  female
10  11       Ronald   Six    89  female
11  12        Recky   Six    94  female
14  15     Tade Row  Four    88    male
15  16        Gimmy  Four    88    male
16  17        Tumyu   Six    54    male
20  21   Babby John  Four    69  female
29  30    Reppy Red   Six    79  female
30  31  Marry Toeey  Four    88    male
32  33    Kenn Rein   Six    96  female
34  35   Rows Noump   Six    88  female

## Advanced Selecting

In [ ]:
# Initial dataframe
df = pd.DataFrame({'group1' : ["a","b","a","a","b","c","c","c","c",
                            "c","a","a","a","b","b","b","b"],
                'group2' : [1,2,3,4,1,3,5,6,5,4,1,2,3,4,3,2,1],
                'value'  : ["apple","pear","orange","apple",
                            "banana","durian","lemon","lime",
                            "raspberry","durian","peach","nectarine",
                            "banana","lemon","guava","blackberry","grape"]})
df

   group1  group2       value
0       a       1       apple
1       b       2        pear
2       a       3      orange
3       a       4       apple
4       b       1      banana
5       c       3      durian
6       c       5       lemon
7       c       6        lime
8       c       5   raspberry
9       c       4      durian
10      a       1       peach
11      a       2   nectarine
12      a       3      banana
13      b       4       lemon
14      b       3       guava
15      b       2  blackberry
16      b       1       grape

In [ ]:
 # We don't simply want to select random rows from df
# We want to first group df by (group1 & group2) then select random rows
from random import choice

# First create the group
grouped = df.groupby(['group1','group2'])
grouped.size()


#Notice that group (a,1) has two posibilities
#Notice that group (a,2) has one posibilities

#This means that if we select a random sample from group (a,1) we will get either "apple" or "peach"
#This means that if we select a random sample from group (a,2) we will always get "nectarine"

group1  group2
a       1         2
        2         1
        3         2
        4         1
b       1         2
        2         2
        3         1
        4         1
c       3         1
        4         1
        5         2
        6         1
dtype: int64

In [ ]:
#df.loc[select a random record from each group]
df.loc[[choice(x) for x in grouped.groups.values()]]

   group1  group2       value
10      a       1       peach
11      a       2   nectarine
2       a       3      orange
3       a       4       apple
16      b       1       grape
15      b       2  blackberry
14      b       3       guava
13      b       4       lemon
5       c       3      durian
9       c       4      durian
8       c       5   raspberry
7       c       6        lime

In [ ]:
df = pd.DataFrame(data=['abcdef']*10, columns=['text'])
df

     text
0  abcdef
1  abcdef
2  abcdef
3  abcdef
4  abcdef
5  abcdef
6  abcdef
7  abcdef
8  abcdef
9  abcdef

In [ ]:
# Select the first 2 characters of each row
df['text'].apply(lambda x: x[:2])

0    ab
1    ab
2    ab
3    ab
4    ab
5    ab
6    ab
7    ab
8    ab
9    ab
Name: text, dtype: object

In [ ]:
d = {'Dates':[pd.Timestamp('2013-01-02'),
              pd.Timestamp('2013-01-03'),
              pd.Timestamp('2013-01-04')],
     'Num1':[1,2,3],
     'Num2':[-1,-2,-3]}
                 

df = pd.DataFrame(data=d)
df

       Dates  Num1  Num2
0 2013-01-02     1    -1
1 2013-01-03     2    -2
2 2013-01-04     3    -3

In [ ]:
# where all values in column "Num1" are positive
positive = df['Num1'] > 0

# where values in column "Num2" is equal to -1
negativeOne = df['Num2'] == -1

# where values in the column "Dates" are in (1/2/2013 or 1/20/2013)
Dates = df['Dates'].isin(['2013-01-02','2013-01-20'])

df[positive & negativeOne & Dates]

       Dates  Num1  Num2
0 2013-01-02     1    -1

In [ ]:
df = pd.DataFrame({'col1':['minus','minus','positive','nan'],
                'col2':[10,20,30,40],
                'col3':[-10,-20,30,np.nan]
                })
df

       col1  col2  col3
0     minus    10 -10.0
1     minus    20 -20.0
2  positive    30  30.0
3       nan    40   NaN

In [ ]:
# Method 1
df.groupby('col1').apply(lambda x: x.max())

              col1  col2  col3
col1
minus        minus    20 -10.0
nan            nan    40   NaN
positive  positive    30  30.0

In [ ]:
# Method 2
df.groupby('col1').agg('max')

          col2  col3
col1
minus       20 -10.0
nan         40   NaN
positive    30  30.0

# Compute

In [ ]:
df = pd.DataFrame({'group1':["a","b","b","b"],
                'value':[10,20,30,40]
                })
df

  group1  value
0      a     10
1      b     20
2      b     30
3      b     40

In [ ]:
group = df.groupby('group1')
group.agg([len,sum])

       value
         len sum
group1
a          1  10
b          3  90

In [ ]:
df = pd.DataFrame({'labels':["a","a","b","b"],
                'value':[10,20,30,40]
                })
df

  labels  value
0      a     10
1      a     20
2      b     30
3      b     40

In [ ]:
group = df.groupby('labels')['value']
df['value.sum'] = group.transform('sum')
df

  labels  value  value.sum
0      a     10         30
1      a     20         30
2      b     30         70
3      b     40         70

In [ ]:
df = pd.DataFrame({'col1':[pd.Timestamp('20130102000030'),
                         pd.Timestamp('2013-02-03 00:00:30'),
                         pd.Timestamp('3/4/2013 000030')]
                 })
df

                 col1
0 2013-01-02 00:00:30
1 2013-02-03 00:00:30
2 2013-03-04 00:00:30

In [ ]:
df['MonthNumber'] = df['col1'].apply(lambda x: x.month)
df['Day'] = df['col1'].apply(lambda x: x.day)
df['Year'] = df['col1'].apply(lambda x: x.year)
df['MonthName'] = df['col1'].apply(lambda x: x.strftime('%B'))
df['WeekDay'] = df['col1'].apply(lambda x: x.strftime('%A'))
df

                 col1  MonthNumber  Day  Year MonthName    WeekDay
0 2013-01-02 00:00:30            1    2  2013   January  Wednesday
1 2013-02-03 00:00:30            2    3  2013  February     Sunday
2 2013-03-04 00:00:30            3    4  2013     March     Monday

In [ ]:
df = pd.DataFrame({'col1':['minus','minus','positive','nan'],
                'col2':[10,20,30,40]
                })
df

       col1  col2
0     minus    10
1     minus    20
2  positive    30
3       nan    40

In [ ]:
df['col3'] = df['col2']*df['col1'].apply(lambda x: -1 if x=='minus' else (1 if x=='positive' else np.nan))
df

       col1  col2  col3
0     minus    10 -10.0
1     minus    20 -20.0
2  positive    30  30.0
3       nan    40   NaN

In [ ]:
df = pd.DataFrame({'group1':['a','a','a','b','b','b'],
                       'group2':['c','c','d','d','d','e'],
                       'value1':[1.1,2,3,4,5,6],
                       'value2':[7.1,8,9,10,11,12]
})

df

  group1 group2  value1  value2
0      a      c     1.1     7.1
1      a      c     2.0     8.0
2      a      d     3.0     9.0
3      b      d     4.0    10.0
4      b      d     5.0    11.0
5      b      e     6.0    12.0

In [ ]:
group = df.groupby(['group1','group2'])

def Half(x):
    return x.sum()

df['new'] = group['value1'].transform(Half)
df

  group1 group2  value1  value2  new
0      a      c     1.1     7.1  3.1
1      a      c     2.0     8.0  3.1
2      a      d     3.0     9.0  3.0
3      b      d     4.0    10.0  9.0
4      b      d     5.0    11.0  9.0
5      b      e     6.0    12.0  6.0

In [ ]:
# For multiple functions
def HalfPlus(x):
    return x.sum() + 1

newcol = group['value1'].agg([Half,HalfPlus])
newcol

               Half  HalfPlus
group1 group2
a      c        3.1       4.1
       d        3.0       4.0
b      d        9.0      10.0
       e        6.0       7.0

In [ ]:
df.merge(newcol, left_on=['group1','group2'], right_index=True)

  group1 group2  value1  value2  new  Half  HalfPlus
0      a      c     1.1     7.1  3.1   3.1       4.1
1      a      c     2.0     8.0  3.1   3.1       4.1
2      a      d     3.0     9.0  3.0   3.0       4.0
3      b      d     4.0    10.0  9.0   9.0      10.0
4      b      d     5.0    11.0  9.0   9.0      10.0
5      b      e     6.0    12.0  6.0   6.0       7.0

In [ ]:
df1 = pd.DataFrame(data=[26371, 1755, 2], index=[-9999, 240, 138.99], columns=['value'])
df1

          value
-9999.00  26371
 240.00    1755
 138.99       2

In [ ]:
df2 = pd.DataFrame(data=[26371, 1755, 6, 4], index=[-9999, 240, 113.03, 110], columns=['value'])
df2

          value
-9999.00  26371
 240.00    1755
 113.03       6
 110.00       4

In [ ]:
# If you simply add them, you will get null values
# were the index does not match
df1 + df2

            value
-9999.00  52742.0
 110.00       NaN
 113.03       NaN
 138.99       NaN
 240.00    3510.0

In [ ]:
# Here we fix this issue
df1.add(df2, fill_value=0)

            value
-9999.00  52742.0
 110.00       4.0
 113.03       6.0
 138.99       2.0
 240.00    3510.0

In [ ]:
df1.combine_first(df2).reset_index()

     index  value
0 -9999.00  26371
1   110.00      4
2   113.03      6
3   138.99      2
4   240.00   1755

#Merge

In [ ]:
df1 = pd.DataFrame({'col1':[pd.Timestamp('20130102000030'),
                         pd.Timestamp('2013-01-03 00:00:30'),
                         pd.Timestamp('1/4/2013 000030')],
                 'col2':[1,10,18]
                 })
df1

                 col1  col2
0 2013-01-02 00:00:30     1
1 2013-01-03 00:00:30    10
2 2013-01-04 00:00:30    18

In [ ]:
df1 = df1.set_index('col1')
df1

                     col2
col1
2013-01-02 00:00:30     1
2013-01-03 00:00:30    10
2013-01-04 00:00:30    18

In [ ]:
d = {'col2':[22,10,113]}

i = [pd.Timestamp('20130102'),
     pd.Timestamp('2013-01-03'),
     pd.Timestamp('1/4/2013')]
                 

df2 = pd.DataFrame(data=d, index = i)
df2.index.name = 'col1'
df2

            col2
col1
2013-01-02    22
2013-01-03    10
2013-01-04   113

In [ ]:
# If we try to add the data frames together, we do not get the results we want.
df2+df1

                     col2
col1
2013-01-02 00:00:00   NaN
2013-01-02 00:00:30   NaN
2013-01-03 00:00:00   NaN
2013-01-03 00:00:30   NaN
2013-01-04 00:00:00   NaN
2013-01-04 00:00:30   NaN

In [ ]:
# Make the index of df2 the same as the index of df1
# Fill the missing values with previous known value
#
#2013-01-02 00:00:00 => 22
#2013-01-02 00:00:30 => 22 
#2013-01-03 00:00:00 => 10
#2013-01-03 00:00:00 => 10
#2013-01-04 00:00:00 => 113
#2013-01-04 00:00:00 => 113
df2.reindex(df1.index, method='pad')

                     col2
col1
2013-01-02 00:00:30    22
2013-01-03 00:00:30    10
2013-01-04 00:00:30   113

In [ ]:
# Now we can add them
df2 = df2.reindex(df1.index, method='pad')
df1+df2

                     col2
col1
2013-01-02 00:00:30    23
2013-01-03 00:00:30    20
2013-01-04 00:00:30   131

In [ ]:
df1 = pd.DataFrame([1,2,3])
df1

   0
0  1
1  2
2  3

In [ ]:
df2 = pd.DataFrame([4,5,6])
df2

   0
0  4
1  5
2  6

In [ ]:
pd.concat([df1,df2])

   0
0  1
1  2
2  3
0  4
1  5
2  6

In [ ]:
d = {'col1':[22,10,113]}

i = [pd.Timestamp('1/1/2013'),
     pd.Timestamp('1/2/2013'),
     pd.Timestamp('1/3/2013')]
                 

df1 = pd.DataFrame(data=d, index = i)
df1

            col1
2013-01-01    22
2013-01-02    10
2013-01-03   113

In [ ]:
d = {'col2':[5,5]}

i = [pd.Timestamp('1/1/2013'),
     pd.Timestamp('1/3/2013')]
                 

df2 = pd.DataFrame(data=d, index = i)
df2

            col2
2013-01-01     5
2013-01-03     5

In [ ]:
df1.merge(df2, left_index=True, right_index=True, how='left')

            col1  col2
2013-01-01    22   5.0
2013-01-02    10   NaN
2013-01-03   113   5.0

# Sort

In [ ]:
# dataframe
df = pd.DataFrame(data={'col1':[0,10,2,30,4]})
df

   col1
0     0
1    10
2     2
3    30
4     4

In [ ]:
# Sort by col1 ascending
df.sort_values(by='col1')

   col1
0     0
2     2
4     4
1    10
3    30

In [ ]:
# Unordered index

d = {'col2':[22,10,113]}

i = [pd.Timestamp('20130102'),
     pd.Timestamp('2013-01-01'),
     pd.Timestamp('1/3/2013')]
                 

df = pd.DataFrame(data=d, index=i)
df

            col2
2013-01-02    22
2013-01-01    10
2013-01-03   113

In [ ]:
# Index sorted ascending
df.sort_index()

            col2
2013-01-01    10
2013-01-02    22
2013-01-03   113